

body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
h1 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}
form {
    background-color: #fff;
    border-radius: 5px;
    margin:   auto;
    max-width: 600px;
    padding: 30px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input,
select {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

button,input[type="submit"] {
    background-color: #133;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
    background-color: #666;
}
a{
    text-decoration: none;
}